{{!-- Slide Template --}}
<div class="header-text" 
  data-{{duration.start}}="opacity: 0.0; top:10px"
  data-{{plus duration.start 100}}="top:0px; opacity:1.0" 
  data-{{duration.end}}="top:50px; opacity:0.0">

  <h1 style="color:#3d3d3d">{{title}}</h1>
</div>