{{!-- Title Template --}}
<div class="header-text" data-{{duration.start}}="opacity:0.9; top:0px" data-{{duration.end}}="opacity:0.0; top:-50px">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2></div>
</div>
