 <div class="stretch-header" 
 data-{{duration.start}}="top:100%; background-position-y:-{{backgroundParallaxDistance}}px" 
 data-{{duration.end}}= "top:-100%; background-position-y:0px" data-src="{{backgroundImage}}">
</div>